{% extends 'base.html' %}
{% block main %}
<body>
    <div style="margin: 1em">
        {% if data.user is not none %}
            {% if data.in_coll %}
                <a href="{{ data.game.id }}/collection_remove" class="waves-effect waves-light btn">Remove from collection</a>
            {% else %}
                <a href="{{ data.game.id }}/collection_add" class="waves-effect waves-light btn">Add to collection</a>
            {% endif %}
            {% if data.in_wish %}
                <a href="{{ data.game.id }}/wishlist_remove" class="waves-effect waves-light btn">Remove from wishlist</a>
            {% else %}
                <a href="{{ data.game.id }}/wishlist_add" class="waves-effect waves-light btn">Add to wishlist</a>
            {% endif %}
        {% endif %}
        <a href="{{ data.game.id }}/posts" class="waves-effect waves-light btn red">See posts</a>
        <a href="{{ data.game.id }}/reviews" class="waves-effect waves-light btn red">See reviews</a>
    </div>
    <h2>{{ data.game.name }}</h2>
    <p><i>User Score: {{ data.score }}</i></p>
    <p>{{ data.game.summary }}</p>
    <img src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ data.game.cover.cloudinary_id }}.jpg" />
    <h3>Screenshots</h3>
    <div style="display: inline-block">
        {% for item in data.game.screenshots %}
            <a href="//images.igdb.com/igdb/image/upload/t_screenshot_huge/{{ item.cloudinary_id }}.jpg">
                <img src="//images.igdb.com/igdb/image/upload/t_screenshot_med/{{ item.cloudinary_id }}.jpg" />
            </a>
        {% endfor %}
    </div>
    <h3>You might also like:</h3>
    <div style="display: inline-block">
        <p>
            {% for item in data.game.games %}
                <a href="/game/{{ item }}">{{ item }}</a> | 
            {% endfor %}
        </p>
    </div>
</body>
{% endblock %}