{% extends "base.html" %}
{% block main %}
<div>
    {% if data.user %}
        <p>Hello, <a href="profile/{{ data.user.id }}">{{ data.user.name }}</a>!</p>
        <p><a href="/logout/">Logout</a></p>
    {% else %}
        <p>new phone who dis</p>
        <p><a href="/login/">Login</a></p>
        <p><a href="/signup/">Signup</a></p>
    {% endif %}
    <form action="/search/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="Go">
    </form>
    <h3>Popular right now</h3>
    {% for item in data.popular %}
        <ul>
            <li>
                <a href="/game/{{ item.id }}">
                    <p>{{ item.name }}</p>
                    {% if item.cover %}
                        <img src="//images.igdb.com/igdb/image/upload/t_cover_small/{{ item.cover.cloudinary_id }}.jpg" />
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endfor %}
</body>
