<body>
    <h1><a href="/">GoodGames</a></h1>
    {% if data.user %}
        <p>Hello, <a href="profile/{{ data.user.id }}">{{ data.user.name }}</a>!</p>
        <p><a href="/logout/">Logout</a></p>
    {% else %}
        <p>new phone who dis</p>
        <p><a href="/login/">Login</a></p>
        <p><a href="/signup/">Signup</a></p>
    {% endif %}
    <form action="/search/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="Go">
    </form>
</body>