{% extends 'base.html' %}
{% block main %}
<body>
    <div style="margin: 1em"><a href="/game/{{ data.game_id }}" class="waves-effect waves-light btn red">Back to game</a></div>
    <h2>{{ data.game.name }}</h2>
    <h3>Reviews</h3>
    <ul>
        {% for item in data.reviews %}
            <p><b>{{ item.title }}</b> – <span style="font-size: .75em">submitted at {{ item.date }} by <a href="/profile/{{ item.profile.id }}">{{ item.profile }}</a></span></p>
            <p style="margin-left:40px">{{ item.body }}</p>
            <p style="margin-left:40px"><i>Score: {{ item.score }}</i></p>
        {% endfor %}
    </ul>
    {% if data.user is not none %}
        {% if data.review %}
            <p>You have posted a review for this game!</p>
        {% else %}
            <h3>New Review</h3>
            <form action='/game/{{ data.game_id }}/reviews' method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='Submit'>
            </form>
        {% endif %}
    {% endif %}
</body>
{% endblock %}
