{% extends 'base.html' %}
{% block main %}
<body>
    <form action="/search/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button class="btn waves-effect waves-light" type="submit" name="action">Search
            <i class="material-icons right">search</i>
        </button>
    </form>
    {% for item in data.results %}
        <ul>
            <li>
                <a href="/game/{{ item.id }}">
                    <p>{{ item.name }}</p>
                    {% if item.cover %}
                        <img src="//images.igdb.com/igdb/image/upload/t_cover_small/{{ item.cover.cloudinary_id }}.jpg" />
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endfor %}
</body>
{% endblock %}
