<body>
    <h1><a href="/">GoodGames</a></h1>
    <form action="/search/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="Go">
    </form>
    {% for item in data.results %}
        <ul>
            <li>
                <a href="/game/{{ item.id }}">
                    <p>{{ item.name }}</p>
                    {% if item.cover %}
                        <img src="//images.igdb.com/igdb/image/upload/t_cover_small/{{ item.cover.cloudinary_id }}.jpg" />
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endfor %}
</body>
